body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navlinks {
  display: flex;
  justify-content: space-between;
}

#leftNav {
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
}

#rightNav {
  margin-right: 15px;
  margin-left: 15px;
  color: black;
}

#title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  /* background-color: rgb(241, 241, 241); */
}

.item {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin: 10px 10px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

img {
  width: 155px;
}

/* HEADER  */

#header {
  float: left;
  width: 220px;
}
#header .pro-sidebar {
  height: 100vh;
}

#header .pro-sidebar {
  width: 100%;
}

#header .pro-sidebar-inner {
  background-color: white;
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
  height: 500px;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 70px;
  color: #000;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 10px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 20px 10px;
  font-weight: bold;
}

span.pro-item-content {
  padding: 10px;
}

#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #ffffff;
  color: #000;
  border-radius: 3px;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#header #header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #c1d7e0 0%, #c1d7e0 100%);
}
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

/* SIGNUP/LOGIN */

.login_signup {
  width: 500px;
  height: 500px;
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
  text-align: center;
  width: 300px;
  height: 300px;
  box-shadow: 1px 2px 2px #000000;
  border: 0.1em solid #000000;
  border-radius: 0.5em;
}

/* ADMIN TABLES */

#admin_table_border {
  padding: 17px 0 0 0;
}

.admin_table {
  border-collapse: collapse;
  width: 80%;
}

.admin_table th {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 8px;
  text-align: left;
}

.admin_table td {
  padding: 8px;
  text-align: left;
}

.admin_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin_table tr:not(:first-child):hover {
  background-color: #ddd;
}

/* ADMIN USERS PAGE */

#users {
  padding: 35px 0 0 250px;
}

/* ADMIN PRODUCTS PAGE */

#admin_img {
  width: 30px;
  height: 30px;
}

/* USER PROFILE PAGE */

.formLabel {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  color: #000;
  clear: both;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 15px;
}

.inputField {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 0;
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  text-indent: 0;
  color: #000;
  background-color: #fff;
  margin: 0 0 28px;
}

#userWelcome {
  font-family: Arial, Helvetica, sans-serif;
}

.userProfileTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000;
  clear: both;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

/* CART BUTTONS */


#addToCartButton {
  height: 22px;
  width: 75px;
  background-color: rgb(22, 22, 22);
  color: white;
  border-radius: 4px;
  size: 17px;
  font-size: 15px;
  margin-right: 5px;
}

/* SINGLE PAGE STYLES */
#singlePageImage {
  width: 400px;
  margin-right: 20px;
}

.singlePageProduct {
  display: flex;
  justify-content: center;
  align-items: center;
}

#singlePageButton {
  height: 22px;
  width: 100px;
  background-color: rgb(22, 22, 22);
  color: white;
  border-radius: 4px;
  size: 17px;
  font-size: 15px;
}

#singleProductButtons {
  display: flex;
  padding-right: 10px;
  /* margin-right: 10px; */
  /* justify-content: space-around; */
}

#singleProductQtyButton {
  width: 10px;
  padding-right: 10px;
}

.singleProductDescription {
  display: flex;
  flex-direction: column;
}

#chooseQty {
  width: 10px;
}

#chooseQuantity {
  margin-right: 5px;
}

#singleProductButtons {
  display: flex;
  padding-right: 10px;
  /* justify-content: space-around; */
}

.boldFont {
  font-weight: bold;
}

.singlePageDescriptionFont {
  font-size: 18px;
  width: 300px;
}

/* CART PAGE STYLES */

#cartImage {
  width: 150px;
}

.cartDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 7px;
  /* align-items: center; */
}

/* #cartProductName {
  font-weight: bold;
} */
.cartPageContainer {
  display: flex;
  margin-bottom: 15px;
  /* align-items: space-between; */
}

.cartWholeContainer {
  margin-left: 6px;
}

.cartButtons {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  /* align-items: stretch; */
  /* flex-direction: column; */
}

.checkOutFont {
  font-size: 21px;
}

.orderTotalFont {
  font-size: 18px;

/* FOOTER */

footer {
  position: static;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 200px 0 0 0;
}

.footer-middle {
  background: black;
  padding-top: 1rem;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.title-column {
  font-size: 18px;
  text-align: left;
}

.footer-column {
  padding: 0 60px 0 0;
}

h5 {
  margin: 5px 0;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 20px 0 0 0;
}

.footer-middle {
  background: black;
  padding-top: 1rem;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.title-column {
  font-size: 18px;
  text-align: left;
}

.footer-column {
  padding: 0 60px 0 0;
}

h5 {
  margin: 5px 0;
}

/* ORDER SUMMARY  */

.Checkout {
  background: white;
  width: 50%;
}
.Checkout .OrderSummary {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}
.Checkout .OrderSummary table {
  font-size: 12px;
  margin: 0 20px;
  margin-bottom: 10px;
  line-height: 1.6;
  width: calc(100% - 40px);
  opacity: 0.8;
  font-weight: 400;
}
.Checkout .OrderSummary table tr td:last-child {
  text-align: right;
  font-weight: 600;
}
.Checkout .OrderSummary .Total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  margin-bottom: 10px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.Checkout .OrderSummary .Total .TotalLabel {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
}
.Checkout .OrderSummary .Total .Amount {
  font-size: 18px;
  margin-left: auto;
}
.Checkout .Title {
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 18px;
  padding: 20px;
  display: block;
}

/* #override {
  margin-bottom: 5px;
  display: block;
  width: 100%;
} */

.BasicInput {
  margin: 0;
  display: block;
  padding: 0 20px;
  margin-bottom: 20px;
}
.BasicInput label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
}
.BasicInput input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #17183b;
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  outline: none;
}
.BasicInput input:focus {
  border-bottom: 1px solid #ffb49a;
}

.ExpiryDate {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  /* padding: 0 20px; */
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.ExpiryDate label {
  margin: 0;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
}
.ExpiryDate div:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.ExpiryDate .Expiry {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ExpiryDate input {
  margin: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #17183b;
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  outline: none;
}
.ExpiryDate select {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 10px;
  border-radius: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #17183b;
  border-bottom: 1px solid #17183b;
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  margin-right: 10px;
}
.ExpiryDate .CVCField {
  width: 20%;
}

.CVC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0 20px;
}
.CVC label {
  margin: 0;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
}
.CVC input {
  margin: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #17183b;
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  outline: none;
}
.CVC input:focus {
  border-bottom: 1px solid #ffb49a;
}
.CVC span {
  margin: 0;
  display: block;
  padding-top: 20px;
  margin-left: 10px;
  color: #ffb49a;
  font-size: 11px;
  border-bottom: 1px dotted #ffb49a;
}

.CheckoutButton {
  margin: 0;
  /* padding: 0 20px; */
  text-align: center;
}
.CheckoutButton button {
  margin: 0;
  background: #5f5f5f;
  color: white;
  border: 0;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  width: 580px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  outline: none;
  padding: 10px 0;
  margin-bottom: 10px;
}
.CheckoutButton button:hover {
  background: #3f3f3f;
}
.CheckoutButton button:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}
.CheckoutButton span {
  margin: 0;
  font-size: 11px;
  color: #bfbfbf;
  font-weight: 300;
  text-align: center;
}

.overlay-enter {
  opacity: 0.01;
}

.overlay-enter.overlay-enter-active {
  opacity: 0.2;
  -webkit-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}

.container-enter {
  opacity: 0.01;
}

.container-enter.container-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
